<!--
Created by IntelliJ IDEA.
User: Administrator
Date: 2024/4/22
Time: 下午8:08
To change this template use File | Settings | File Templates.
-->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" th:href="@{style1.css}"/>
    <script type="text/javascript" src="../static/check.js" th:src="@{check.js}"></script>
</head>
<body class="page">
<div class="container">
    <form id="loginForm" action="count"> <!-- 提交表单到  -->
        <label for="username">用户名:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">密码:</label>
        <input type="password" id="password" name="password"><br>
        <span id="error-message" class="error-message"></span><br>
        <input  type="submit"  class="centered-button" value="提交"> <!-- 提交按钮 -->
    </form>
</div>
</body>
</html>
